*.o
*.lib
*.a
*.dll
*.so
*.so.*
*.dylib
*.exe
*.out
*.cache
*.app
Makefile
src/Makefile
test/Makefile
config.h
config.log
config.status
config.log
.deps
/src/.deps
app.info
/build*/
m4
stamp-h1
/src/o5m2sqlite

